/* Primary colors */

.bg-red {
  background-color: #FF8E00;
  /* African neon red */
}

.bg-green {
background: #f12711;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f5af19, #f12711);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f5af19, #f12711);
  backdrop-filter: blur(10px);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  /* African neon green */
}

.bg-yellow {
  background-color: #FCD116;
  /* African neon yellow */
}

.text-gray {
  color: #273746;
  /* African neon gray */
}

.text-green {
  color: #009E60;
  /* African neon green */
}

.text-yellow {
  color: #FCD116;
  /* African neon yellow */
}

/* Global styles */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.home-header {
      font-weight: 800;
      font-size: 4rem;
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      animation: change-color 5s infinite;
      font-family: 'Roboto', sans-serif;
    }

.button-container {
  margin-top: 3rem;
}


.button {
  border-color: #FF8E00;
  color: #FF8E00;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  cursor: pointer;
  padding: 14px 28px;
  font-size: 16px;
  border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}


.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 2rem;
  width: 80vw;
  font-family: 'Roboto', sans-serif;
  color: #0000;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  margin: 1rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  min-width: 250px;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  font-family: 'Roboto', sans-serif;}

.image {
  min-width: 100px;
  max-width: 150px;
  min-height: 100px;
  max-height: 150px;
  position: relative;
}

/* Utility classes */

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.font-bold {
  font-weight: 700;
}

.mb-4 {
  margin-bottom: 1rem;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.h-screen {
  height: 100vh;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.space-x-4> :not(:first-child) {
  margin-left: 1rem;
}

.rounded-full {
  border-radius: 9999px;
}

.m-2 {
  margin: 0.5rem;
}

.space-y-4> :not(:first-child) {
  margin-top: 1rem;
}

.space-y-2> :not(:first-child) {
  margin-top: 0.5rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.border-2 {
  border-width: 2px;
}

.rounded-md {
  border-radius: 0.375rem;
}

.shadow-lg {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.bg-gray-100 {
  color: #0f1318;
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  font-family: 'Roboto', sans-serif;
}

.rounded-lg {
  border-radius: 0.5rem;
}



@keyframes change-color {
  0% {
    color: #1E9600;
  }

  50% {
    color: #FFF200;
  }

  100% {
    color: #FF0000;
  }
}

.home-container {
  background: url('../media/dev1.jpg') no-repeat center center fixed;
  background-size: cover;
  animation: change-background 10s infinite;
  font-family: 'Roboto', sans-serif;

}

@keyframes change-background {
  0% {
    background-image: url('../media/20230219_112917.png');
  }

  50% {
    background-image: url('../media/export1679426773618.png');
  }

  100% {
    background-image: url('../media/dev1.jpg');
  }
}


.w-2 {
display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  margin: 1rem;}

.pr-4 {
  padding-right: 1rem;
}

.w-3 {
  width: 66.666667%;
}

.hover\:bg-gold-600:hover {
  background-color: #e8a800;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.card h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card p {
  font-size: 1rem;
  margin-bottom: 1rem;
  line-height: 1.2;
}

/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    min-width: 200px;
  }
}

SMedium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    min-width: 250px;
  }
}

**/
